.yesButton {
  margin-top: 0%;
  margin-left: 50%;
  transform: translateX(-50%);
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 0px solid black;
  border-radius: 3px;
  font-size: 1.5em;
}

.yesButton:hover {
  background-color: black;
  color: white;
}

.saveFileButton {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 4px solid rgb(240, 240, 240);
  border-radius: 20px;
  font-size: 1em;
}

.saveFileButton:hover {
  background-color: black;
  color: white;
}

.uploadPercentageRecieve {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}

.wannaDownload {
  margin-left: 1%;
}
