.page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
}

.shareFileButton {
  margin-top: -0.2rem;
  margin-right: 1rem;
  padding: 0.5rem;
  background-color: black;
  float: right;
  color: white;
  transition: transform 0.1s ease-in-out;
  z-index: 2;
  position: relative;
  border-radius: 0.7rem;
  font-size: 1.5rem;
}

.shareFileButton:hover {
  background-color: rgba(0, 0, 0, 0.786);
  color: white;
}
.shareFileButton:active {
  transform: scale(0.97);
}

.FileUploadDetails {
  position: relative;
  top: -20px;
  z-index: 1;
  justify-content: center;
}

.uploadPercentageSend {
  white-space: nowrap;
  margin: 5px 0 0 0px;
  text-align: center;
  user-select: none;
}

/* not working, find a way to adjust dropzonearea sizing */
.qrCodeWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}
.qrCodeWrapper canvas {
  height: 15%;
  width: auto;
}
.dropzoneArea {
  max-height: 20% !important;
}
